/* Write your global styles here, in PostCSS syntax */
html, body { @apply h-full overflow-hidden; }
body {
    color: rgba(var(--theme-font-color-dark)) !important;
    background-color: rgb(var(--color-surface-900)) !important;

}